.ui-sortable-placeholder {
  background: #ddd;
  visibility: visible;
}
textarea.newEntry {
  width: 90%;
  height: 1.1em;
  resize: none;
  border: none;
  outline: none;
  border-bottom: 1px dashed #ccc;
  overflow: hidden;
  font-family: "Lucida Grande", verdana, arial, helvetica, sans-serif;
}
.controller-todo_list #todos_container {
  width: 80%;
  float: left;
  padding-bottom: 80px;
}
.controller-todo_list #todos_container > header {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 0 12px 0;
  border-bottom: 1px solid #dadada;
}
.controller-todo_list #todos_container > header > h3 {
  display: inline;
  font-weight: normal;
}
.controller-todo_list #todos_container > header .newTodoListForm {
  float: left;
  clear: both;
  width: 100%;
  max-width: 700px;
}
.controller-todo_list #todos_container > header .newTodoListForm > * > article {
  display: block;
  margin-top: 60px;
}
.controller-todo_list #todos_container > header .action.pill {
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #FFF;
  font-size: 11px;
  padding: 2px 6px;
  color: #000;
  box-shadow: 0 0 2px #ccc;
}
.controller-todo_list #todos_container > header,
.controller-todo_list #todos_container > .content {
  margin-left: 76px;
}
.controller-todo_list #todos_container .a-like:hover {
  text-decoration: underline;
}
.controller-todo_list #todos_container ol.todo_lists {
  padding-left: 60px;
  margin-top: 20px;
}
.controller-todo_list #todos_container ol.todo_lists > li,
.controller-todo_list #todos_container ol.todo_lists > li > .todo_list,
.controller-todo_list #todos_container ol.todo_lists > li > .todo_list > ol,
.controller-todo_list #todos_container ol.todo_lists > li > .todo_list > ol > li {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  max-width: 700px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.controller-todo_list #todos_container ol.todo_lists > li {
  margin: 8px 0 0 0;
  padding: 6px 8px 6px 14px;
  background: #FFF;
}
.controller-todo_list #todos_container ol.todo_lists > li.ui-sortable-helper > header > aside,
.controller-todo_list #todos_container ol.todo_lists > li > .todo_list > ol > li.ui-sortable-helper > header > aside {
  display: none;
}
.controller-todo_list #todos_container ol.todo_lists > li > header > aside,
.controller-todo_list #todos_container ol.todo_lists > li > .todo_list > ol > li > aside {
  position: absolute;
  top: 0;
  left: -60px;
  display: none;
  width: 60px;
  height: 1.3em;
  padding: 1px 0 1px 3px;
  border: 0;
  background: #FFF;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: -3px 0 3px #cccccc;
}
.controller-todo_list #todos_container ol.todo_lists > li > header > aside .edit,
.controller-todo_list #todos_container ol.todo_lists > li > .todo_list > ol > li > aside .edit {
  display: inline-block;
  color: #000;
  font-size: 11px;
  line-height: 100%;
}
.controller-todo_list #todos_container ol.todo_lists > li > header > aside .edit:hover,
.controller-todo_list #todos_container ol.todo_lists > li > .todo_list > ol > li > aside .edit:hover {
  color: #005782;
}
.controller-todo_list #todos_container ol.todo_lists > li > header > aside .delete,
.controller-todo_list #todos_container ol.todo_lists > li > .todo_list > ol > li > aside .delete {
  display: inline-block;
  background: url(/images/delete.png) 0 0 no-repeat;
  width: 16px;
  height: 16px;
  text-indent: -20000px;
}
.controller-todo_list #todos_container ol.todo_lists > li > header:hover > aside,
.controller-todo_list #todos_container ol.todo_lists > li > header > aside.visible {
  display: block;
}
.controller-todo_list #todos_container ol.todo_lists > li > header {
  position: relative;
}
.controller-todo_list #todos_container ol.todo_lists > li > header h3 {
  font-size: 16px;
  color: #005782;
  text-decoration: underline;
  z-index: 10;
}
.controller-todo_list #todos_container ol.todo_lists > li > header h3:active {
  color: #000;
  text-decoration: none;
}
.controller-todo_list #todos_container ol.todo_lists > li > header todo-resource-edit-form textarea {
  position: relative;
  left: -2px;
  font-weight: bold;
  font-size: 16px;
}
.controller-todo_list #todos_container ol.todo_lists > li > header > aside {
  top: 2px;
  left: -63px;
}
.controller-todo_list #todos_container ol.todo_lists > li todo-resource-edit-form footer span {
  margin-left: 3px;
}
.controller-todo_list #todos_container ol.todo_lists > li > .todo_list {
  padding-left: 20px;
}
.controller-todo_list #todos_container ol.todo_lists > li > .todo_list > ol.completed {
  margin-top: 10px;
}
.controller-todo_list #todos_container ol.todo_lists > li > .todo_list > footer {
  position: relative;
  top: -6px;
  float: left;
  clear: both;
  width: 100%;
}
.controller-todo_list #todos_container ol.todo_lists > li > .todo_list > footer > todo-resource-edit-form {
  position: relative;
  top: -7px;
}
.controller-todo_list #todos_container ol.todo_lists > li > .todo_list > footer > todo-resource-edit-form textarea {
  position: relative;
  left: -2px;
  font-size: 13px;
}
.controller-todo_list #todos_container ol.todo_lists > li > .todo_list > footer [type=checkbox] {
  vertical-align: top;
}
.controller-todo_list #todos_container ol.todo_lists > li > .todo_list > footer .a-like.add {
  display: inline-block;
  padding: 1px 5px 0 25px;
  text-decoration: underline;
}
.controller-todo_list #todos_container ol.todo_lists > li > .todo_list > ol {
  min-height: 6px;
}
> li > aside .controller-todo_list #todos_container ol.todo_lists > li > .todo_list > ol.completed li,
.controller-todo_list #todos_container ol.todo_lists > li > .todo_list > ol.completed li a {
  color: #999;
  font-size: 10px;
}
.controller-todo_list #todos_container ol.todo_lists > li > .todo_list > ol > li {
  margin: 2px 0 0 0;
}
.controller-todo_list #todos_container ol.todo_lists > li > .todo_list > ol > li:hover > aside,
.controller-todo_list #todos_container ol.todo_lists > li > .todo_list > ol > li > aside.visible {
  display: block;
}
.controller-todo_list #todos_container ol.todo_lists > li > .todo_list > ol > li article [type=submit] {
  margin-left: 15px;
}
.controller-todo_list #todos_container ol.todo_lists > li > .todo_list > ol > li todo-resource-edit-form textarea {
  position: relative;
  left: -2px;
  margin-top: 1px;
  font-size: 13px;
}
.controller-todo_list #todos_container ol.todo_lists > li > .todo_list > ol > li todo-resource-edit-form [type=checkbox] {
  vertical-align: top;
  margin-top: 6px;
}
.controller-todo_list #todos_container ol.todo_lists > li > .todo_list > ol > li > span > .todoContents {
  max-width: 90%;
  display: inline-block;
}
.controller-todo_list #todos_container ol.todo_lists > li > .todo_list > ol > li > span > .todoContents > a {
  color: #000;
  padding: 3px 0;
  font-size: 13px;
}
.controller-todo_list #todos_container ol.todo_lists > li > .todo_list > ol > li > span > .todoContents > a:hover {
  color: #005782;
}
.controller-todo_list #todos_container ol.todo_lists > li > .todo_list > ol > li:last-child {
  padding-bottom: 16px;
}
.controller-todo_list #todos_container ol.todo_lists > li.ui-sortable-helper {
  box-shadow: 0 0 5px #bbb;
  opacity: 0.85;
}
.controller-todo_list #todos_container [type=checkbox] {
  vertical-align: top;
}
.controller-todo_list #todos_container .a-like {
  color: #005782;
  text-decoration: none;
  cursor: pointer;
}
